preload = /home/serviin/Images/nord-city.png
wallpaper = ,/home/serviin/Images/nord-city.png

{{ if eq .chezmoi.hostname "arch-laptop" }}
wallpaper {
    monitor = eDP-1
    path = /home/serviin/Images/nord-city.png
    fit_mode = cover
}
{{end}}
